<div class="search-row">
  <mat-form-field appearan="outline" class="search-input">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search Compitence" (keyup)="applyFilter($any($event.target).value)" />
    <mat-icon matSuffix>
      <i-tabler name="search" class="icon-20"></i-tabler>
    </mat-icon>
  </mat-form-field>
  <div class="add-buttons">
    <button mat-flat-button style="margin-right: 10px;" (click)="openDialog('Add', {})" color="accent">
      Add Materiel
    </button>
    <button mat-flat-button style="margin-right: 10px;" (click)="openAddInstallationDialog('Add',{})" color="accent">
      Add Installation
    </button>
    <button mat-flat-button (click)="openAddLogicielDialog('Add',{})" color="accent">
      Add Logiciel
    </button>
  </div>
</div>

<div class="card-container">
  <!-- Displaying Materiel cards -->
  <mat-card *ngFor="let materiel of dataSource.data" class="cardWithShadow materiel-card">
    <div class="rideau">Materiel</div>
    <mat-card-content>
      <h2>{{ materiel.materielName }}</h2>
      <p>Type: {{ materiel.type }}</p>
      <p>Status: {{ materiel.status }}</p>
      <p>TeamName: {{ materiel.team.teamName }}</p>
      <div class="actions">
        <a (click)="openDialog('Update', materiel)" class="action-icon">
          <i-tabler name="edit" class="icon-18"></i-tabler>
        </a>
        <a (click)="openDialog('Delete', materiel)" class="action-icon">
          <i-tabler name="trash" class="icon-18"></i-tabler>
        </a>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Displaying Installation cards -->
  <mat-card *ngFor="let installation of installationDataSource.data" class="cardWithShadow">
    <div class="rideau">Installation</div>
    <mat-card-content>
      <h2>{{ installation.installationName }}</h2>
      <p>Type: {{ installation.type }}</p>
      <p>Disponibilité: {{ installation.disponibilite }}</p>
      <p>Capacité: {{ installation.capacite }}</p>
      <p *ngIf="installation.teamName">TeamName: {{ installation.teamName }}</p>
      <p *ngIf="!installation.teamName"><b>Team Name not available</b></p>
    </mat-card-content>
    <div class="actions">
      <a (click)="openUpdateInstallationDialog('Update', installation)" class="action-icon">
        <i-tabler name="edit" class="icon-18"></i-tabler>
      </a>
      <a (click)="openDeleteInstallationDialog('Delete', installation)" class="action-icon">
        <i-tabler name="trash" class="icon-18"></i-tabler>
      </a>
    </div>
  </mat-card>

  <!-- Displaying Logiciel cards -->
  <mat-card *ngFor="let logiciel of logicielDataSource.data" class="cardWithShadow">
    <div class="rideau">Logiciel</div>
    <mat-card-content>
      <h2>{{ logiciel.logicielName }}</h2>
      <p>Type: {{ logiciel.type }}</p>
      <p>Status: {{ logiciel.status }}</p>
      <p *ngIf="logiciel.teamName">TeamName: {{ logiciel.teamName }}</p>
      <p *ngIf="!logiciel.teamName"><b>Team Name not available</b></p>
      </mat-card-content>
    <div class="actions">
      <a (click)="openUpdateLogicielDialog('Update', logiciel)" class="action-icon">
        <i-tabler name="edit" class="icon-18"></i-tabler>
      </a>
      <a (click)="openDeleteLogicielDialog('Delete', logiciel)" class="action-icon">
        <i-tabler name="trash" class="icon-18"></i-tabler>
      </a>
    </div>
  </mat-card>
</div>
