<!-- Search and Add Section -->
<div class="search-row">
  <mat-form-field appearance="outline" class="search-input">
    <input
      matInput
      placeholder="Search Achievement"
      (keyup)="applyFilter($any($event.target).value)"
    />
    <mat-icon matSuffix>
      <i-tabler name="search" class="icon-20"></i-tabler>
    </mat-icon>
  </mat-form-field>
  <div class="add-buttons">
    <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
      <mat-icon>group_add</mat-icon>
      Add Achievement
    </button>
  </div>
</div>

<!-- Achievement Cards Section -->
<div class="card-container">
  <mat-card *ngFor="let achivement of dataSource.data" class="cardWithShadow">
    <div class="rideau">Achievement</div>
    <mat-card-content>
      <h2>{{ achivement.team?.teamName || 'No Team' }}</h2>
      <ul>
        <li><strong>Trophies:</strong> {{ achivement.trophies?.join(', ') || 'No Trophies' }}</li>
        <li><strong>Date Achived:</strong> {{ achivement.dateAchived | date: 'fullDate' }}</li>
        <li><strong>Rank:</strong> {{ achivement.achievementRank  || 'No Rank' }}</li>
      </ul>
      <div class="actions">
        <a (click)="openDialog('Update', achivement)" class="action-icon">
          <i-tabler name="edit" class="icon-18"></i-tabler>
        </a>
        <a (click)="openDeleteDialog(achivement)" class="action-icon">
          <i-tabler name="trash" class="icon-18"></i-tabler>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
