<div class="search-row">
  <mat-form-field appearance="outline" class="search-input">
    <input
      matInput
      placeholder="Search Achievements"
      (keyup)="searchAchivements($event)"
    />
    <mat-icon matSuffix>
      <i-tabler name="search" class="icon-20"></i-tabler>
    </mat-icon>
  </mat-form-field>
  <div class="add-buttons">
    <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
      <mat-icon>group_add</mat-icon>
      Add Achievement
    </button>
  </div>
</div>

<div class="card-container">
  <mat-card *ngFor="let achievement of dataSource.data" class="cardWithShadow">
    <div class="rideau">Achievement</div>
    <mat-card-content>
      <h2>{{ achievement.playerName }}</h2>
      <ul>       
        <li><strong>Trophie:</strong> {{ achievement.trophie }}</li>
        <li><strong>Date Achievement:</strong> {{ displayDate(achievement.dateAchievement) }}</li>
      </ul>
      <div class="actions">
        <a (click)="openDialog('Update', achievement)" class="action-icon">
          <i-tabler name="edit" class="icon-18"></i-tabler>
        </a>
        <a (click)="openDialog('Delete', achievement)" class="action-icon">
          <i-tabler name="trash" class="icon-18"></i-tabler>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- <mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  [length]="dataSource.data.length"
  [pageSize]="10"
  (page)="handlePageEvent($event)"
></mat-paginator> -->
