<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-end align-items-center">
      <button mat-flat-button (click)="openDialog('Add', {})" color="primary" class="add-button">
        <mat-icon>group_add</mat-icon>
        Add Sponsor Contract
      </button>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="sponsorContractName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sponsor Contract Name</th>
          <td mat-cell *matCellDef="let contract" class="f-s-14">{{ contract.sponsorContractName }}</td>
        </ng-container>

        <ng-container matColumnDef="dateStart">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Date Start</th>
          <td mat-cell *matCellDef="let contract" class="f-s-14">{{ contract.dateStart | date: 'yyyy-MM-dd' }}</td>
        </ng-container>

        <ng-container matColumnDef="dateEnd">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Date End</th>
          <td mat-cell *matCellDef="let contract" class="f-s-14">{{ contract.dateEnd | date: 'yyyy-MM-dd' }}</td>
        </ng-container>

        <ng-container matColumnDef="objectif">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Objectif</th>
          <td mat-cell *matCellDef="let contract" class="f-s-14">{{ contract.objectif }}</td>
        </ng-container>

        <ng-container matColumnDef="teamName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Team Name</th>
          <td mat-cell *matCellDef="let contract" class="f-s-14">{{ contract.team.teamName }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Action</th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a (click)="openDialog('Update', element)" class="m-r-10 cursor-pointer">
              <mat-icon>edit</mat-icon>
            </a>
            <a (click)="deleteContract(element)" class="m-r-10 cursor-pointer">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
