<div class="search-row">
  <mat-form-field appearance="outline" class="search-input">
    <input
      matInput
      placeholder="Search Defi"
      (keyup)="searchMatchs($event)"
    />
    <mat-icon matSuffix>
      <i-tabler name="search" class="icon-20"></i-tabler>
    </mat-icon>
  </mat-form-field>
  <div class="add-buttons">
    <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
      <mat-icon>group_add</mat-icon>
      Add Defi
    </button>
    <button mat-flat-button color="primary" (click)="loadHistoricalMatches()">
      Historical Matches
    </button>
  </div>
</div>

<div class="card-container">
  <mat-card *ngFor="let defi of dataSource.data" class="cardWithShadow">
    <div class="rideau">Defi</div>
    <mat-card-content>
      <h2>{{ defi.matchName }}</h2>
      <ul>
        <li><strong>ID:</strong> {{ defi.idMatch }}</li>
        <li><strong>Date Start:</strong> {{ defi.dateStart | date: 'fullDate' }}</li>
        <li><strong>Result:</strong> {{ defi.result }}</li>
        <li><strong>Tournament:</strong> {{ getTournamentNamesForDefi(defi) }}</li>
      </ul>
      <div class="actions">
        <a (click)="openDialog('Update', defi)" class="action-icon">
          <i-tabler name="edit" class="icon-18"></i-tabler>
        </a>
        <a (click)="openDialog('Delete', defi)" class="action-icon">
          <i-tabler name="trash" class="icon-18"></i-tabler>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- <mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  [length]="dataSource.data.length"
  [pageSize]="10"
  (page)="handlePageEvent($event)"
></mat-paginator> -->
