.search-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 200px; // Reduce width of the search input
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap; // Allows cards to wrap to the next line on small screens
    gap: 20px; // Space between cards
  }
  
  .cardWithShadow {
    width: 300px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  
    &:hover {
      height: auto; // Expand height on hover
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
  
    .mat-card-content {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      h2 {
        font-size: 16px;
        font-weight: 600;
      }
  
      p {
        font-size: 14px;
        display: none;
      }
  
      &:hover p {
        display: block; // Show details on hover
      }
    }
  }
  