<!-- Main container for search and add button -->
<div class="search-row">
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Search SessionTraining</mat-label>
    <input matInput (keyup)="searchSession($event)" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="openDialog('Add', {})">
    Add SessionTraining
  </button>
</div>

<!-- Container for cards -->
<div class="card-container">
  <mat-card *ngFor="let session of dataSource.data" class="cardWithShadow">
    <mat-card-content>
      <h2>{{ session.sessionName }}</h2>
      <!-- Details are hidden initially and only shown on hover -->
      <p>Start Date: {{ session.dateStart | date }}</p>
      <p>End Date: {{ session.dateEnd | date }}</p>
      <p>Objectives: {{ session.objectifs }}</p>
      <p>Coach: {{ session.username }}</p>
      <p>Players: {{ session.playerNames }}</p>

      <!-- Actions are also hidden initially and only shown on hover -->
      <div class="d-flex justify-content-end">
        <a (click)="openDialog('Update', session)" class="m-r-10 cursor-pointer">
          <i-tabler name="edit" class="icon-18"></i-tabler>
        </a>
        <a (click)="openDialog('Delete', session)" class="m-r-10 cursor-pointer">
          <i-tabler name="trash" class="icon-18"></i-tabler>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
