<div class="search-row">
  <mat-form-field appearance="outline" class="search-input">
    <input
      matInput
      placeholder="Search Tournament"
      (keyup)="searchTournament($event)"
    />
    <mat-icon matSuffix>
      <i-tabler name="search" class="icon-20"></i-tabler>
    </mat-icon>
  </mat-form-field>
  <div class="add-buttons">
    <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
      <mat-icon>group_add</mat-icon>
      Add Tournament
    </button>
    <button mat-flat-button color="primary" (click)="loadHistoricalTournament()">
      Historical Matches
    </button>
    <button mat-raised-button color="primary" (click)="openAddTeamsDialog()">
      <mat-icon>person_add</mat-icon>
      Add Teams
    </button>
    <button mat-raised-button color="primary" (click)="openRemoveTeamsDialog()">
      <mat-icon>person_remove</mat-icon>
      Remove Team
    </button>
  </div>
</div>

<div class="card-container">
  <mat-card *ngFor="let tournament of dataSource.data" class="cardWithShadow">
    <div class="rideau">Tournament</div>
    <mat-card-content>
      <h2>{{ tournament.tournamentName }}</h2>
      <ul>
        <li><strong>ID:</strong> {{ tournament.idTournament }}</li>
        <li><strong>Format:</strong> {{ tournament.format }}</li>
        <li><strong>Prize Pool:</strong> {{ tournament.prizePool }}</li>
        <li><strong>Date Start:</strong> {{ tournament.dateStart | date: 'fullDate' }}</li>
        <li><strong>Date End:</strong> {{ tournament.dateEnd | date: 'fullDate' }}</li>
        <li><strong>Status:</strong> {{ tournament.status }}</li>
        <li><strong>Capacity:</strong> {{ tournament.capacity }}</li>
        <li><strong>Teams:</strong> {{ getTeamNamesForTournament(tournament) }}</li>
      </ul>
      <div class="actions">
        <a (click)="openDialog('Update', tournament)" class="action-icon">
          <i-tabler name="edit" class="icon-18"></i-tabler>
        </a>
        <a (click)="openDialog('Delete', tournament)" class="action-icon">
          <i-tabler name="trash" class="icon-18"></i-tabler>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
