<h2 mat-dialog-title>Add Team to Tournament</h2>
<mat-dialog-content class="mat-typography">
  <form #coachTeamForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Tournament Name</mat-label>
      <input matInput [(ngModel)]="data.tournamentName" name="tournamentName" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Team Name</mat-label>
      <input matInput [(ngModel)]="data.teamName" name="teamName" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="!coachTeamForm.form.valid" (click)="onAddClick()">Add</button>
</mat-dialog-actions>
