<!-- Search and Add Section -->
<div class="search-row">
  <mat-form-field appearance="outline" class="search-input">
    <input
      matInput
      placeholder="Search Player"
      (keyup)="searchPlayers($event)"
    />
    <mat-icon matSuffix>
      <i-tabler name="search" class="icon-20"></i-tabler>
    </mat-icon>
  </mat-form-field>
  <div class="add-buttons">
    <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
      <mat-icon>group_add</mat-icon>
      Add Player
    </button>
  </div>
</div>

<!-- Player Cards Section -->
<div class="card-container">
  <mat-card *ngFor="let player of dataSource.data" class="cardWithShadow">
    <div class="rideau">Player</div>
    <mat-card-content>
      <h2>{{ player.leagalefullname }}</h2>
          <ul>
        <li><strong>In-Game Name:</strong> {{ player.inGameName }}</li>
        <li><strong>Date of Birth:</strong> {{ player.dateOfBirth | date: 'fullDate' }}</li>
        <li><strong>Email:</strong> {{ player.mailAdress }}</li>
        <li><strong>Discord ID:</strong> {{ player.discordId }}</li>
        <li><strong>Country:</strong> {{ player.countryOfResidence }}</li>
        <li><strong>Jersey Size:</strong> {{ player.jerseySize }}</li>
        <li><strong>WhatsApp Phone:</strong> {{ player.whatsappPhone }}</li>
        <li><strong>Contract Start:</strong> {{ player.contratStart | date: 'fullDate' }}</li>
        <li><strong>Contract End:</strong> {{ player.contratEnd | date: 'fullDate' }}</li>
        <li><strong>Salary:</strong> {{ player.salary }}</li>
        <li><strong>Social Media Links:</strong> {{ player.socialMediaLinks }}</li>
      </ul>
      <div class="actions">
        <a (click)="openDialog('Update', player)" class="action-icon">
          <i-tabler name="edit" class="icon-18"></i-tabler>
        </a>
        <a (click)="openDialog('Delete', player)" class="action-icon">
          <i-tabler name="trash" class="icon-18"></i-tabler>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
