<div class="search-row">
  <mat-form-field appearance="outline" class="search-input">
    <input
      matInput
      placeholder="Search Contract"
      (keyup)="searchContract($event)"
    />
    <mat-icon matSuffix>
      <i-tabler name="search" class="icon-20"></i-tabler>
    </mat-icon>
  </mat-form-field>
  <div class="add-buttons">
    <button mat-flat-button (click)="openDialog('Add', {})" color="primary">
      <mat-icon>group_add</mat-icon>
      Add Contract
    </button>
  </div>
</div>

<div class="card-container">
  <mat-card *ngFor="let contract of dataSource.data" class="cardWithShadow">
    <div class="rideau">Contract</div>
    <mat-card-content>
      <h2>{{ getPlayerNamesForContractPlayer(contract) }}</h2>
      <ul>
        
        <li><strong>Details Contractuels:</strong> {{ contract.detailsContractuels }}</li>
        <li><strong>Termes Financiers:</strong> {{ contract.termesFinanciers }}</li>
        <li><strong>Date Start:</strong> {{ contract.dateStart | date: 'fullDate' }}</li>
        <li><strong>Date End:</strong> {{ contract.dateEnd | date: 'fullDate' }}</li>
        <li><strong>Objectifs:</strong> {{ contract.objectifs }}</li>
        <li><strong>Clauses Spécifiques:</strong> {{ contract.clausesSpecifiques }}</li>
      </ul>
      <div class="actions">
        <a (click)="openDialog('Update', contract)" class="action-icon">
          <i-tabler name="edit" class="icon-18"></i-tabler>
        </a>
        <a (click)="openDialog('Delete', contract)" class="action-icon">
          <i-tabler name="trash" class="icon-18"></i-tabler>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- <mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  [length]="dataSource.data.length"
  [pageSize]="10"
  (page)="handlePageEvent($event)"
></mat-paginator> -->
